<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cenxi">

    <!--声明需要的权限-->
    <!---->
    <!--访问网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--开启摄像头权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--手机震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--访问SD卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--访问手机本地存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--弹出对话框权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--文件系统权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!--下面五个权限定位需要用到-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!---->

    <!--icon、roundIcon 是设置app图标,label设置app名称，allowBackup是否备份应用数据,
    usesCleartextTraffic是否支持http请求-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/tubiao"
        android:roundIcon="@drawable/tubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">

        <!--百度sdk配置-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0QYqo7M8Hi5AC9tIN83KDh3cbo88qr9r" >
        </meta-data>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <!--首页注册-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>